<a href="https://colab.research.google.com/github/skkrishnaa/AIMLOps_Samples/blob/main/LaptopPricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
file_name="laptops.csv"
df = pd.read_csv(file_name)
print(df.head())

   Acer  4  IPS Panel  2  1  5   35.56  1.6  8  256 1.6.1   978
0  Dell  3    Full HD  1  1  3  39.624  2.0  4  256   2.2   634
1  Dell  3    Full HD  1  1  7  39.624  2.7  8  256   2.2   946
2  Dell  4  IPS Panel  2  1  5  33.782  1.6  8  128  1.22  1244
3    HP  4    Full HD  2  1  7  39.624  1.8  8  256  1.91   837
4  Dell  3    Full HD  1  1  5  39.624  1.6  8  256   2.2  1016

Add Headers to the DataFrame

In [6]:
# create headers list
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns = headers
print(df.head(20))

   Manufacturer  Category     Screen  GPU  OS  CPU_core Screen_Size_inch  \
0          Dell         3    Full HD    1   1         3           39.624
1          Dell         3    Full HD    1   1         7           39.624
2          Dell         4  IPS Panel    2   1         5           33.782
3            HP         4    Full HD    2   1         7           39.624
4          Dell         3    Full HD    1   1         5           39.624
5            HP         3    Full HD    3   1         5           39.624
6          Acer         3  IPS Panel    2   1         5             38.1
7          Dell         3    Full HD    1   1         5           39.624
8          Acer         3  IPS Panel    3   1         7             38.1
9          Dell         3    Full HD    1   1         7           39.624
10           HP         3    Full HD    2   1         3           39.624
11         Asus         3    Full HD    2   2         3           39.624
12         Dell         4    Full HD    2   1         5            35.56
13         Asus         3    Full HD    2   1         5            35.56
14           HP         3    Full HD    2   1         5           39.624
15         Dell         4  IPS Panel    1   1         7            33.02
16         Dell         3    Full HD    1   1         7           39.624
17         Dell         4  IPS Panel    2   1         5             38.1
18           HP         3    Full HD    2   1         5            35.56
19           HP         4  IPS Panel    3   1         7             38.1

    CPU_frequency  RAM_GB  Storage_GB_SSD Weight_kg  Price
0             2.0       4             256       2.2    634
1             2.7       8             256       2.2    946
2             1.6       8             128      1.22   1244
3             1.8       8             256      1.91    837
4             1.6       8             256       2.2   1016
5             1.6       8             256       2.1   1117
6             1.6       4             256       2.2    866
7             2.5       4             256       2.3    812
8             1.8       8             256       2.2   1068
9             1.8       8             256      2.13    975
10            2.0       4             128      1.91    558
11            2.0       4             256         2    527
12            1.6       8             256       1.7   1117
13            1.6       8             256       1.4   1195
14            2.5       8             256      1.86    876
15            1.8       8             256       1.4   1213
16            1.8       8             256       2.2   1105
17            1.6       8             256      1.88   1392
18            1.6       8             256      1.63   1092
19            1.8       8             256      1.83    888

Task #3:
Replace '?' with 'NaN'
Replace the '?' entries in the dataset with NaN value, recevied from the Numpy package.

In [7]:
df.replace('?',np.nan, inplace = True)

Task #4:
Print the data types of the dataframe columns
Make a note of the data types of the different columns of the dataset.

In [8]:
print(df.dtypes)

Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch     object
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg            object
Price                 int64
dtype: object

Task #5:
Print the statistical description of the dataset, including that of 'object' data types

In [9]:
print(df.describe(include='all'))

       Manufacturer    Category   Screen         GPU          OS    CPU_core  \
count           237  237.000000      237  237.000000  237.000000  237.000000
unique           11         NaN        2         NaN         NaN         NaN
top            Dell         NaN  Full HD         NaN         NaN         NaN
freq             71         NaN      161         NaN         NaN         NaN
mean            NaN    3.202532      NaN    2.151899    1.059072    5.632911
std             NaN    0.776450      NaN    0.639556    0.236258    1.243736
min             NaN    1.000000      NaN    1.000000    1.000000    3.000000
25%             NaN    3.000000      NaN    2.000000    1.000000    5.000000
50%             NaN    3.000000      NaN    2.000000    1.000000    5.000000
75%             NaN    4.000000      NaN    3.000000    1.000000    7.000000
max             NaN    5.000000      NaN    3.000000    2.000000    7.000000

       Screen_Size_inch  CPU_frequency      RAM_GB  Storage_GB_SSD Weight_kg  \
count               233     237.000000  237.000000      237.000000       232
unique                9            NaN         NaN             NaN        77
top              39.624            NaN         NaN             NaN       2.2
freq                 89            NaN         NaN             NaN        21
mean                NaN       2.363291    7.881857      245.738397       NaN
std                 NaN       0.409271    2.487845       34.832516       NaN
min                 NaN       1.200000    4.000000      128.000000       NaN
25%                 NaN       2.000000    8.000000      256.000000       NaN
50%                 NaN       2.500000    8.000000      256.000000       NaN
75%                 NaN       2.700000    8.000000      256.000000       NaN
max                 NaN       2.900000   16.000000      256.000000       NaN

              Price
count    237.000000
unique          NaN
top             NaN
freq            NaN
mean    1464.388186
std      574.956374
min      527.000000
25%     1068.000000
50%     1333.000000
75%     1777.000000
max     3810.000000

Task #6:
Print the summary information of the dataset

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      237 non-null    object
 1   Category          237 non-null    int64
 2   Screen            237 non-null    object
 3   GPU               237 non-null    int64
 4   OS                237 non-null    int64
 5   CPU_core          237 non-null    int64
 6   Screen_Size_inch  233 non-null    object
 7   CPU_frequency     237 non-null    float64
 8   RAM_GB            237 non-null    int64
 9   Storage_GB_SSD    237 non-null    int64
 10  Weight_kg         232 non-null    object
 11  Price             237 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.3+ KB
None